* {
  margin: 0;
  padding: 0; }

body {
  color: black;
  background-color: #eeeeee;
  font: 16px/1.5 "Helvetica Neue", arial, sans-serif;
  font-weight: 200;
  padding: 0 12px; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  border-bottom: #444444 1px dotted;
  color: black; }

.article {
  margin: 0 auto;
  padding: 1em 0 1em;
  border-top: #777777 1px dotted;
  display: block;
  opacity: 0.9; }
  body.asofterworld .article {
    width: 724px; }
  body.oglaf .article {
    width: 764px; }
  .article.current {
    opacity: 1; }
  .article .image {
    padding: 0 0 2em; }
    .article .image img {
      border: solid 2px #f8f8f8; }
    .article .image .heading {
      float: left; }
    .article .image .alt_text {
      text-align: center; }

#content ul.spinner {
  display: none; }

#content.loading ul.spinner {
  display: block; }

ul.spinner {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 1em; }
  ul.spinner li {
    display: inline-block;
    list-style-type: none; }
    ul.spinner li img {
      display: block; }
