* {
  margin: 0;
  padding: 0; }

body {
  color: black;
  background-color: #eeeeee;
  font: 16px/1.5 "Helvetica Neue", arial, sans-serif;
  font-weight: 200;
  padding: 0 12px; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  border-bottom: #444 1px dotted;
  color: black; }

.article {
  width: 724px;
  margin: 0 auto;
  padding: 1em 0 3em;
  border-top: #777777 1px dotted; }

article img {
  border: solid 2px #f8f8f8; }

.article .heading {
  float: left; }

.article .alt_text {
  text-align: center; }
