- articles.each do |article|
  %section[article]
    %img{:src => "{article.image_url}", :title => article.alt_text}
    %p.heading
      %a.original{:href => "http://asofterworld.com/index.php?id=#{article.nr}"}
        = "##{article.nr}"
    %p.alt_text= article.alt_text
